* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.body img {
    filter: blur(5px) brightness(0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
  
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 0.9rem;
    top: 30px;
    left: 10%;
    width: 80%;
    position: absolute;
    z-index: 10;
    color: #fff;
    font-family: 'Michroma', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.menu a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    padding: 0 30px;
}

.menu a:hover {
    opacity: 1;
}

.menu:hover {
    background: rgba(243, 240, 240, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.box {
    backdrop-filter: blur(2.5px);
    background-color: rgba(230, 222, 236, 0.801);
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    top: 100px;
    width: 80%;
    height: 700px;
    left: 10%;
    position: relative;
    padding: 20px;
    border: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        inset -50px -20px 50px rgba(225, 225, 231, 0.904),
        inset 30px 30px 70px rgba(255, 255, 255, 0.6);
    transition: 0.5s ease-in-out;
}

.signin-form,
.signup-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    margin-top: 20px;
    left: -100px;
    position: relative;
}

.signin-form input {
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.507);
    color: rgb(63, 60, 60);
    box-shadow: inset -50px -20px 50px rgba(188, 191, 206, 0.904),
        inset 30px 30px 70px rgba(188, 193, 221, 0.918),
        0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 10px rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    left: -80px;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid rgba(3, 12, 92, 0.5);
}

.signin-form input:hover {
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 2px solid rgba(3, 12, 92, 0.8);
    background-color: rgba(11, 92, 241, 0.411);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        inset -50px -20px 50px rgba(170, 180, 230, 0.904),
        inset 30px 30px 70px rgba(150, 162, 231, 0.918),
        inset 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 10px rgba(19, 8, 168, 0.5);
        
    filter: brightness(1.05);
    transition: 0.3s ease-in-out;
    border-radius: 3px;
}

.signin-form button,
.signup-link button,
.signup-form button {
    position: relative;
    padding: 10px;
    left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b3bff;
    color: white;
    cursor: pointer;
    border: none;
    filter: brightness(0.9);
    width: 200px;
    height: 50px;
    box-shadow: inset -50px -20px 50px rgba(72, 75, 99, 0.904),
        inset 30px 30px 70px rgba(0, 0, 7, 0.6);
    font-size: 15px;
    letter-spacing: 5px;
}

.signin-form button:hover,
.signup-form button:hover,
.signup-link button:hover {
    background-color: rgba(73, 42, 247, 0.925);
    filter: brightness(1.2);
    box-shadow: inset -50px -20px 50px rgba(4, 33, 255, 0.8),
        inset 30px 30px 70px rgba(158, 158, 167, 0.5);
    transition: 0.4s ease, box-shadow 0.3s ease;
    filter: brightness(1);
}

.signup-link p,
.social-login p
 {
    color: #f5f5f5;
    word-spacing: 10px;
    letter-spacing: 2px;
    top: 60px;
    left: -280px;
    position: relative;
    background-color: rgba(13, 13, 39, 0.136);
    width: 400px;
    height: 28px;
    text-align: center;
    padding: 5px;
    overflow: hidden;
}

.social-login p {
    top: -40px;
    left: 300px;
}

.signup-link button {
    background: rgba(0, 0, 221, 0.836);
    position: relative;
    border-radius: 5px;
    top: 90px;
    left: -200px;
}

.social-login {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
    top: 30px;
    left: -480px;
    position: relative;
}

.social-login img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.social-login img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1) contrast(1.2);
}

.box1 h1 {
    color: #06085e;
    text-align: center;
    font-size: 36px;
    top: -40px;
    left: -260px;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0 4px 6px rgba(25, 79, 226, 0.5));
    font-family: "Michroma", sans-serif;
    letter-spacing: 4px;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 20px;
}

.box2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    top: 710px;
    left: 0;
    width: 45%;
    background: rgba(10, 34, 247, 0.322);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.box2 h1 {
    font-size: 1.6em;
    text-align: center;
    position: absolute;
    top: 14px;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgba(194, 187, 187, 0.5);
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}

.box3 {
    position: absolute;
    top: 11.8%;
    left: 47%;
    width: 70%;
    height: 72%;
    border-radius: 0 30px 30px 0;
}

.box3_img img {
    width: 60%;
    height: 678px;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
    border-radius: 0 30px 30px 0;
}

.box3_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 91%;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.2) 40%, transparent 60%);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
    border-radius: 30px;
}

.box3_overlay .date-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    color: rgba(255, 255, 255, 0.9);
    top: 250px;
    position: relative;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.box1:hover {
    filter: brightness(1) saturate(1.2) contrast(1.3) blur(0px);
    transition: filter 0.3s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 115vh;
    top: 100px;
}

.box1:hover .box2 {
    top:10px;
    transition: 0.5s;
    border-radius:20px 0 0  20px;
}


.box3:hover {
    filter: brightness(1) saturate(1.2) contrast(1.3) blur(0px);
    transition: filter 0.3s ease-in-out;
    transition: 0.5s ease-in-out;
    height: 80vh;
}

.box3:hover .box3_overlay {
    top: 0px;
    transition: 0.5s ease-in-out;
}